/* css reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:30vh;
    font-size: 40px;
    gap: 100px;
}

#bike_list{
    display:flex;
    flex-direction: column;
    justify-content: start;
}

#bike_title{
    margin-bottom: 20px;
    color:red;
}

#result_title{
    color:green;
}